<h1>=== Importing Libraries ===</h1>

In [247]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [248]:
data = pd.read_csv("data/BIKE DETAILS.csv")
data.head()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN

In [249]:
data.tail()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
1056,Activa 3g,17000,2010,Individual,1st owner,500000,52000.0
1057,Honda CB twister,16000,2012,Individual,1st owner,33000,51000.0
1058,Bajaj Discover 125,15000,2013,Individual,2nd owner,35000,57000.0
1059,Honda CB Shine,12000,2009,Individual,1st owner,53000,58000.0
1060,Bajaj Pulsar 150,10000,2008,Individual,1st owner,92233,75000.0

In [250]:
data.shape

(1061, 7)

In [251]:
data.describe()

       selling_price         year      km_driven  ex_showroom_price
count    1061.000000  1061.000000    1061.000000       6.260000e+02
mean    59638.151744  2013.867107   34359.833176       8.795871e+04
std     56304.291973     4.301191   51623.152702       7.749659e+04
min      5000.000000  1988.000000     350.000000       3.049000e+04
25%     28000.000000  2011.000000   13500.000000       5.485200e+04
50%     45000.000000  2015.000000   25000.000000       7.275250e+04
75%     70000.000000  2017.000000   43000.000000       8.703150e+04
max    760000.000000  2020.000000  880000.000000       1.278000e+06

In [252]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061 entries, 0 to 1060
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               1061 non-null   object
 1   selling_price      1061 non-null   int64
 2   year               1061 non-null   int64
 3   seller_type        1061 non-null   object
 4   owner              1061 non-null   object
 5   km_driven          1061 non-null   int64
 6   ex_showroom_price  626 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 58.1+ KB

In [253]:
data.isna().sum()

name                   0
selling_price          0
year                   0
seller_type            0
owner                  0
km_driven              0
ex_showroom_price    435
dtype: int64

In [254]:
data = data.dropna()

In [255]:
data.isna().sum()

name                 0
selling_price        0
year                 0
seller_type          0
owner                0
km_driven            0
ex_showroom_price    0
dtype: int64

In [208]:
data.columns

Index(['Car Name', 'Displacement', 'Enginee', 'HP', 'Transmission',
       'Top-speed', 'Cost'],
      dtype='object')

In [256]:
data.corr()['selling_price']

selling_price        1.000000
year                 0.350654
km_driven           -0.194093
ex_showroom_price    0.918583
Name: selling_price, dtype: float64

In [257]:
X = data[['year', 'km_driven', 'ex_showroom_price']].values
X

array([[  2018.,  12000., 148114.],
       [  2015.,  23000.,  89643.],
       [  2010.,  60000.,  53857.],
       ...,
       [  2013.,  35000.,  57000.],
       [  2009.,  53000.,  58000.],
       [  2008.,  92233.,  75000.]])

In [258]:
y = data['selling_price'].values
y

array([150000,  65000,  18000,  78500,  50000,  35000,  28000,  80000,
       365000,  25000,  40000, 150000, 120000,  26000,  32000,  25000,
        42000,  40000,  55000,  38000,  43000,  62000,  60000,  45000,
       120000,  50000,  28000,  85000,  29900,  25000,  30000,  60000,
        35000,  25000,  30000,  35000,  70000,  25000,  35000,  50000,
        30000,  48000,  65000,  45000,  34000, 165000,  65000, 165000,
        50000,  62000,  30000,  28000,  30000, 140000,  30000,  22000,
        22989,  42000,  30000,  45000, 150000,  24999, 150000,  42000,
        50000, 120000,  17500,  57000,  25000, 160000, 135000,  55000,
        20000,  55000,  50000,  60000,  40000,  15000, 750000, 190000,
       130000,  54786,  35000,  45000, 100000,  20000,  60000,  22000,
        30000,  28000,  40000, 100000,  48000,  20000,  23000,  15000,
        35000,  25000,  45000,  25000,  35000,  25000,  25000,  75000,
        47999,  25000,  50000,  65000,  60000,  20000,  27000,  35000,
        35000,  40000,  56000,  30000,  40000,  40000, 130000,  45000,
        42000, 170000,  38000,  60000,  35000,  50000,  25000,  58000,
        40000,  28000,  50000,  56000,  35000,  95000,  40000,  30000,
        18000,  14000,  50000,  40000,  42000,  20000,  25000,  25000,
       145000,  60000, 100000,  35000,  50000,  90000,  40000,  80000,
        70000,  50000,  40000,  75000,  50000,  25000, 130000, 425000,
       125000,  45000,  85000, 760000,  48000,  40000,  37000,  38000,
        55000,  18000,  42000, 330000,  35000,  29500, 110000,  69000,
        30000,  30000,  20000,  23000, 140000,  50000,  55000,  45000,
        35000, 300000,  50000,  60000,  50000,  62000, 125000,  50000,
        40000,  41000,  35000,  38000,  50000,  40000,  70000,  26500,
        38000,  60000,  78000,  58000, 130000,  20000, 150000,  32000,
        50000,  60000,  20000,  70000,  35000,  95000,  65000,  45000,
        60000, 160000,  40000,  40000,  56000,  22000,  36000, 100000,
        42000,  45000, 145000,  50000, 140000, 180000,  42000,  16000,
        40000,  38000,  85000,  28000,  37000, 135000,  20000,  65000,
        50000,  60000,  38000,  87000,  35000, 100000,  30000,  25000,
       195000,  14900,  48000,  40000,  45000,  25000,  10000,  22000,
        45000,  75000,  24000,  45000,  55000,  10000,  55000,  35000,
        23000, 150000,  35000,  50000,  25000,  45000,  25000,  30000,
        60000,  32000,  30000,  75000,  38000,  47000,  22000,  65000,
        30000,  80000,  40000,  20000,  65000,  85000, 105000,  40000,
        30000,  25000,  40000,  45000,  70000,  30000,  70000,  50000,
        35000,  55000,  40000,  35000,  55000,  60000, 115000,  50000,
        40000,  86000,  60000,  41000, 110000,  32000,  65000,  35000,
        35000,  35000,  75000,  80000,  25000,  27000,  25000,  45000,
       200000,  20100,  30000,  21000,  45000,  47000,  25000,  50000,
        46000,  80000,  50000,  40000,  70000,  30900,  65000,  90000,
        70000,  15000,  35000,  15000,  50000,  69000,  15000,  25000,
        30000,  45000, 120000,  80000,  40000,  30000,  45000,  35000,
        25000,  65000,  45000,  60000, 100000,  25000,  15000,  60000,
        75000,  55000,  85000,  60000,  24000,  40000,  75000,  70000,
        55000,  51000,  74000,  65000,  60000,  50000,  30000,  16600,
        30000,  62000,  60000,  45000,  40000,  50000,  45000, 145000,
        45000,  65000,  20000,  37000,  18000,  25000,  46000,  55000,
        40000,  25000,  70000,  25000,  25000,  26000,  15000,  50000,
        26500,  80000,  90000,  85000,  54000,  25000,  55000,  35000,
        50000,  45000,  45000,  28000,  27000,  50000,  28000,   6000,
        35000,  15000,  45000,  30000,  70000,  35000,  25000,  60000,
        50000,  30000,  60000,  23000,  50000,  50000,  20000,  45000,
        45000,  25000,  75000, 100000,  30000,  42000,  30000,  77000,
        25000,  25000,  50000,  30000,  45000,  98000,  55000,  70000,
        45000,  25000, 170000,  38000,  45000,  22000,  30000,  25000,
        45000,  35000,  60000,  42000,  76000,  20000,  75000,  70000,
        50000,  25000,  30000,  50000,  35000,  30000,  42000, 300000,
       160000, 185000, 110000,  75000,  50000,  30000,  75000,  45000,
        35000,  35000,  70000, 180000,  24000,  72000, 185000, 140000,
        30000,  18000, 300000,  30000,  80000,  43000,  20000,  40000,
        21000,  35000,  23000,  45000,  60000,  40000,  42000,  18000,
        15000,  25000,  23000,  10000,  25000,  50000,  60000,  50000,
        50000,  40000,  45000,  30000,  25000,  65000,  40000,  70000,
        35000,  36000,  32000,  50000,  50000, 175000, 170000, 165000,
       145000, 135000, 135000, 135000, 125000, 120000, 120000, 120000,
       115000, 115000, 115000, 115000, 111000, 110000, 110000, 110000,
       105000, 105000, 105000, 105000, 100000,  95000,  90000,  90000,
        75000,  80000,  78000,  75000,  75000,  75000,  72000,  65000,
        65000,  65000,  65000,  60000,  60000,  60000,  60000,  60000,
        60000,  60000,  60000,  55000,  55000,  52000,  51000,  50000,
        50000,  50000,  50000,  50000,  48000,  48000,  48000,  48000,
        45000,  45000,  45000,  45000,  45000,  45000,  45000,  45000,
        42000,  42000,  40000,  40000,  40000,  40000,  40000,  38000,
        38000,  35000,  35000,  35000,  31000,  30000,  30000,  30000,
        27000,  25000,  25000,  25000,  25000,  25000,  20000,  20000,
        20000,  20000,  20000,  20000,  18000,  17000,  16000,  15000,
        12000,  10000], dtype=int64)

In [259]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=.25, random_state=15)

In [260]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(469, 3)
(157, 3)
(469,)
(157,)

In [261]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [262]:
y_pred = model.predict(X_test)   
y_pred

array([ 29035.64520604,  30133.0906705 ,  59639.30200789,  63748.89089724,
        11519.66103599,  34262.39961907,    278.15488922, 131118.24268544,
        29110.51997981,  66742.80544446,  23486.03085057,  57853.76236944,
        32720.78426767,  93604.06227809, 127214.91688269,  41319.68039149,
        52803.96258034,  14583.73493287, 101220.87410172,  43501.74147603,
        46926.95944745,  35312.49620465,  22484.39570815,  19721.53046321,
        37266.59435466,  -3906.37572613,  53406.20519367,  93606.474003  ,
        29368.26620517,  50318.70417917,  46745.35804865,  49742.88220027,
        48657.41474331,  41468.96201877,  45702.74761924,  60191.61029955,
        41745.71404737,  40288.20006029,  98471.08190965,  59142.05762343,
        56191.801354  ,  45891.14739305,  34301.39916117,  45336.98996107,
        24379.3519588 ,  22449.05832724,  20174.37958548, 137586.75308925,
        59257.70576197,  54695.12978773, 113239.97633596, 131583.04980266,
        60163.17031683,  51209.2536651 ,  52037.90618491,  63588.22913089,
        54224.76474145, -10633.96599364,  94385.13254121,  46303.4838636 ,
       145228.68791861,  58974.06351572,  49273.9808303 ,  51147.90311923,
        41696.77353864,  54310.27659683,  52989.97275011,  40718.40820908,
        27002.63652566,  22354.79343756,  50013.64252436,  52140.97726545,
        65367.0959808 , 151925.44812906,  35825.15157944,  24579.01602711,
        75225.53126429,  22662.41226665, 243129.54111814,  48849.03383999,
        79388.52826734,  61053.06612178,  26298.69615783,   7199.73864526,
        25038.85338363,  66913.82271686,  58133.973724  ,  -8911.33293212,
        24401.20620836,  44369.03200254,  43358.55677042, 195717.60825772,
        73708.4347959 ,  65547.11330703,  15888.99114957,   5153.07462111,
        60585.89306878,  93606.474003  ,  12043.17902165,  59725.75577095,
        43525.8104308 ,  67841.23032811,  32295.11857121,  51885.93807803,
       117960.06448292,  20986.5997664 ,  43581.95685758, 111143.80344884,
        74661.06613308,  43815.21741931,  20511.49919284,   5577.26104937,
        40993.61171054,  32841.37051288,   1558.47899378,  36354.09403061,
        42822.85523464,  74817.38275584,  20616.04279698,  49914.49586166,
       139707.53857602,  20206.28938508,  25136.63752349, 262419.19853158,
        54273.01039918,  54404.40689619,  31394.97259389,  95459.10385043,
        52735.69102995,  49870.46129321,  51757.282218  ,  91563.27748899,
        38259.10362674,  44807.31889092,  56854.81892366,  58054.52062161,
        27350.26141289,  63456.66371466, 170843.84891723,  91161.26795371,
        25913.23410576, 126945.42447357,  38161.01712732,  70154.12829773,
        29480.03818393,  60535.02216931,  62332.88206215,  66646.112598  ,
        59970.23232449,  59078.80327805,  -7524.37439335,  17672.48482079,
        25617.66736065, 125202.12156998,  35499.50243105,  12400.91705261,
        73316.94565049])

In [263]:
data_predicted = pd.DataFrame({'Actual': y_test, 'Predicted': np.around(y_pred)})
data_predicted

     Actual  Predicted
0     25000    29036.0
1     34000    30133.0
2     45000    59639.0
3     45000    63749.0
4     21000    11520.0
..      ...        ...
152   30000    25618.0
153  130000   125202.0
154   26000    35500.0
155   18000    12401.0
156   60000    73317.0

[157 rows x 2 columns]

In [264]:
model.score(X_test, y_test)

0.799620458588633

In [265]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X_train, y_train, cv=10)
scores

array([0.86843672, 0.88405048, 0.87142325, 0.82579198, 0.77615511,
       0.87712154, 0.87984178, 0.82529071, 0.91929895, 0.78314276])